# Shopify Datascience Question 1

In [1]:
#load in data to dataframe and libraries
import numpy as np
import pandas as pd

from numpy import mean
from numpy import std
from numpy import percentile

In [2]:
df = pd.read_csv('2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv') 
df = df.set_index('order_id')
df

,shop_id,user_id,order_amount,total_items,payment_method,created_at
order_id,,,,,,
1,53,746,224,2,cash,2017-03-13 12:36:56
2,92,925,90,1,cash,2017-03-03 17:38:52
3,44,861,144,1,cash,2017-03-14 4:23:56
4,18,935,156,1,credit_card,2017-03-26 12:43:37
5,18,883,156,1,credit_card,2017-03-01 4:35:11
...,...,...,...,...,...,...
4996,73,993,330,2,debit,2017-03-30 13:47:17
4997,48,789,234,2,cash,2017-03-16 20:36:16
4998,56,867,351,3,cash,2017-03-19 5:42:42
4999,60,825,354,2,credit_card,2017-03-16 14:51:18
5000,44,734,288,2,debit,2017-03-18 15:48:18

# a) better AOV

In [3]:
OrderSum = sum(df['order_amount'])
OrderSum/5000

3145.128

In [4]:
data = df['order_amount']
print(mean(data))
print(std(data))

3145.128
41278.41088841982

In [5]:
offset =  std(data)*3
ValidData = data.loc[(data <= offset)] 
mean(ValidData)

723.2617422721798

In [6]:
q25 = percentile(data, 25)
q75 = percentile(data, 75)
midpoint = q75 - q25
print(q25)
print(q75)
print(midpoint)
cut_off = midpoint * 1.5
cut_off

163.0
390.0
227.0

340.5

In [7]:
lower = q25 - cut_off
if(lower < 0):
    lower = 0 
upper = q75 + cut_off
print(lower)
print(upper)

0
730.5

In [8]:
ValidData = data.loc[(data >= lower) & (data <= upper)]

In [9]:
mean(ValidData)

293.7153735336489

# b) and c) better metrics with values

In [10]:
# weighted average : formula applied  orderamount/ totalItems  average value per item 
# based on shopid, userid

In [11]:
# overall
OrderAmountSum = sum(df['order_amount'])
OrderAmountSum

15725640

In [12]:
SumNumberOfItems = sum(df['total_items'])
SumNumberOfItems

43936

In [13]:
# overall weighted aveage
wavg = OrderAmountSum/SumNumberOfItems
print("The overall weighted average of is wavg: " + str(wavg))

The overall weighted average of is wavg:357.92152221412965

In [14]:
# weighted average for different shops
shop_df = df.groupby('shop_id')
for key,i in shop_df:
    currentshop = shop_df.get_group(key)
    shopAmountSum = (sum(currentshop.order_amount))
    shopItemsSum = (sum(currentshop.total_items))
    print(key)
    print('shop wavg:')
    #print(shopAmountSum)
    #print(shopItemsSum)
    print(shopAmountSum/shopItemsSum)

1
shop wavg:
158.0
2
shop wavg:
94.0
3
shop wavg:
148.0
4
shop wavg:
128.0
5
shop wavg:
142.0
6
shop wavg:
187.0
7
shop wavg:
112.0
8
shop wavg:
132.0
9
shop wavg:
118.0
10
shop wavg:
148.0
11
shop wavg:
184.0
12
shop wavg:
201.0
13
shop wavg:
160.0
14
shop wavg:
116.0
15
shop wavg:
153.0
16
shop wavg:
156.0
17
shop wavg:
176.0
18
shop wavg:
156.0
19
shop wavg:
163.0
20
shop wavg:
127.0
21
shop wavg:
142.0
22
shop wavg:
146.0
23
shop wavg:
156.0
24
shop wavg:
140.0
25
shop wavg:
130.0
26
shop wavg:
176.0
27
shop wavg:
169.0
28
shop wavg:
164.0
29
shop wavg:
163.0
30
shop wavg:
153.0
31
shop wavg:
129.0
32
shop wavg:
101.0
33
shop wavg:
173.0
34
shop wavg:
122.0
35
shop wavg:
164.0
36
shop wavg:
130.0
37
shop wavg:
142.0
38
shop wavg:
190.0
39
shop wavg:
134.0
40
shop wavg:
161.0
41
shop wavg:
118.0
42
shop wavg:
352.0
43
shop wavg:
181.0
44
shop wavg:
144.0
45
shop wavg:
142.0
46
shop wavg:
166.0
47
shop wavg:
145.0
48
shop wavg:
117.0
49
shop wavg:
129.0
50
shop wavg:
193.0
51
shop wavg:
187.0
52
shop wavg:
146.0
53
shop wavg:
112.0
54
shop wavg:
133.0
55
shop wavg:
171.0
56
shop wavg:
117.0
57
shop wavg:
147.0
58
shop wavg:
138.0
59
shop wavg:
178.0
60
shop wavg:
177.0
61
shop wavg:
158.0
62
shop wavg:
160.0
63
shop wavg:
136.0
64
shop wavg:
133.0
65
shop wavg:
154.0
66
shop wavg:
161.0
67
shop wavg:
131.0
68
shop wavg:
136.0
69
shop wavg:
131.0
70
shop wavg:
173.0
71
shop wavg:
164.0
72
shop wavg:
160.0
73
shop wavg:
165.0
74
shop wavg:
153.0
75
shop wavg:
128.0
76
shop wavg:
155.0
77
shop wavg:
156.0
78
shop wavg:
25725.0
79
shop wavg:
181.0
80
shop wavg:
145.0
81
shop wavg:
177.0
82
shop wavg:
177.0
83
shop wavg:
129.0
84
shop wavg:
153.0
85
shop wavg:
172.0
86
shop wavg:
130.0
87
shop wavg:
149.0
88
shop wavg:
176.0
89
shop wavg:
196.0
90
shop wavg:
178.0
91
shop wavg:
160.0
92
shop wavg:
90.0
93
shop wavg:
114.0
94
shop wavg:
134.0
95
shop wavg:
168.0
96
shop wavg:
153.0
97
shop wavg:
162.0
98
shop wavg:
133.0
99
shop wavg:
195.0
100
shop wavg:
111.0